*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color:#DCDCDC ;
}

.content{
    background-image:url("donate-drawings.jpg") ;
 
    background-size:100% 100% ;
    width: 100%;
    height:100vh;
    margin-top: 0px;
z-index: 10;
}
.maincontainer{
    display: grid;
    position: relative;
    padding-top: 85vh;
    padding-left: 10%;
   width:90%;
   font-family: cursive;
   padding-bottom: 10px;
    grid-gap:10px;
    grid-template-rows: 210px repeat(2, 210px) 300px;
    grid-template-columns: repeat(4, 1fr);
}

.box0{
    background: linear-gradient(to bottom right,rgb(240, 201, 168), rgb(219, 125, 57));
    border-radius: 5%;
}
#list1 p{
    padding: 5px;
}


.box1{
    background: linear-gradient(to bottom right, rgb(174, 250, 224), rgb(68, 247, 250), rgb(0,128,128));
    border-radius: 5%;
}
.box0 ,.box1 ,.box2 , .box3, .box6, .box7 {
    padding:5px;
    
}
.im1 ,.im2, .im3, .im4{
    height:50px;
    width:50px;
    margin-left: 90px;
    
}
.im5, .im6{
    height:200px;
    width:250px;
}
.im7{
    height:300px;
    width:250px;  
}
.box2{
    background:linear-gradient(to bottom right ,rgb(255, 179, 179),rgb(241, 106, 106), rgb(220,20,60));
    border-radius: 5%;
}

.box3{
  /* background: linear-gradient(to bottom right,rgba(161, 224, 233,0.73),rgba(173, 200, 250,0.96),rgb(198, 192, 235),rgba(106, 159, 2280.2));*/
  background: rgba(250, 239, 221, 0.89); 
  grid-column: 1/4;
   grid-row: 2/4;
   border-radius: 2%;
}
.box3 h2{
  padding: 15px;
}
.box3 p{
    padding: 15px;
}
.box7{
    background:linear-gradient(to bottom right,rgb(152,251,152), rgb(60,179,113),rgb(107,142,35));
    border-radius: 5%;
}
 
     
 .box6{
    background: rgba(250, 239, 221, 0.89); 
    grid-column: 1/4;
     border-radius: 2%;
 }
