*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url("coins.jpg");
    background-size: 100% 100%;
    width:100%;
    height:100vh;
}
.cont{
    text-align: center;
}
form{
    margin:80px;
    padding: 10px ;
    width:35%;
    height:73%;
    background:linear-gradient(to bottom right,rgb(252, 185, 98),rgb(236, 223, 178), rgb(252, 130, 103)); 
    border-radius: 10%;
    position: absolute;
}
.form-group{
    padding:5px;
    margin:5%;
    
}
.form-control{
    
    border-radius: 2%;
   border-style: hidden;
}
.lastbutton{
    text-align: center;
   
}
.btn{
    width:90%;
   
}
.logo{
    background-image: url("logo2.jpg");
    border-radius: 50%;
    height:30%;
    width:40%;
    background-size: 100% 100%;
    margin-top: 10%;
    margin-left: 30%;
}
.footer12{
    padding: 10px;
    text-align: center;
   
}
.social-links1 a{
    color: black;
    padding: 5px;
}
.head {
 margin-top:0px;
 margin-left:10px;
 font-family: cursive;
 font-size: 40px;
 
}

